<!DOCTYPE html>
<html lang="en">
    {% load static%}
    <div class="header">
        <div class="header-left" style="background-color: white;">
            <a href="{% url 'login'%}" class="logo">
           <img src="{% static 'assets/img/homelogo2.png' %}" style="max-height: 60px;margin-left: 40px;margin-top: 25px;" alt="Logo">
           </a>
           <nav class="navbar navbar-expand-lg navbar-light bg-white" style="margin-left: 225px;">
        <div class="container">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01" style="margin-left: 30px;"> 
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
              <li class="nav-item active" style="margin-right: 125px;">
                <a class="nav-link" aria-current="page" href="{% url 'login'%}">Home</a>
              </li>
              <li class="nav-item" style="margin-right: 125px;">
                <a class="nav-link" href="{% url 'about'%}">About</a>
              </li>
              <li class="nav-item" style="margin-right: 125px;">
                <a class="nav-link" href="{% url 'contact'%}">Contact</a>
              </li>
              {% comment %} <li class="nav-item" style="margin-right: 125px;">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li> {% endcomment %}
              <li class="nav-item" style="margin-right: 125px;">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
            
        </div>
       
        </div>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <style>
        body {
          font-family: system-ui, sans-serif;
          background: whitesmoke;
          min-height: 100vh;
        }
      </style>
</head>
<body>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
           <div class="container">
              <div class="loginbox" style="max-width: 400px;margin-top: 1px;">
                   {% comment %} <div class="login-left">
                    <img class= "img-fluid" src="{% static 'assets/img/logo-white.png' %}" alt="Logo">
                 </div>   {% endcomment %}
                 <div class="login-right">
                    <div class="login-right-wrap">
                        
    
<div class="continer">
    <form method="post" class="form" id="form">
        {% csrf_token %}
        <h1>Change Password</h1>
        <br><br>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

     
        <div class="form-group">
            <label for="password">Password</label>
            <br><br>
            <input type="text" name="new_password"  class="form-control">
           
        </div>



        <div class="form-group">
            <label for="password">Re confirm password</label>
            <br><br>
            <input type="text" name="reconfirm_password"   class="form-control">
           
        </div>


        <input type="hidden" name="user_id" value="{{user_id}}">
        
       
        <button class="btn btn-info btn-block" type="submit">Submit</button>

    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>