<script>
$(document).ready(function() { 
var options = {
    series: [{{grower_count}}, 1, {{crop_count}}, {{variety_count}}],
    chart: {
    width: 380,
    type: 'pie',
  },
  labels: ['Growers', 'Agencies', 'Crops', 'Variety'],
  responsive: [{
    breakpoint: 480,
    options: {
      chart: {
        width: 200
      },
      legend: {
        position: 'bottom'
      }
    }
  }]
  };

  var chart = new ApexCharts(document.querySelector("#All_details"), options);
  chart.render();

}
);
</script>